@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,300&display=swap");

:root {
  --primary: #151515;
  --secondary: #ffffff;
  --yellow: #ffc107;
}
html {
  scroll-behavior: smooth;
}
::-webkit-scrollbar {
  width: 0.625rem;
}
::-webkit-scrollbar-track {
  background: var(--white-color);
}
::-webkit-scrollbar-thumb {
  background: var(--yellow);
  border: 2px solid var(--secondary);
  border-radius: 10px;
}
body {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  min-height: 100vh;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
img {
  width: 100%;
}
.my-hr {
  width: 150px;
  height: 4px;
  border: 1px solid var(--primary);
  border-radius: 2px;
  color: var(--primary);
  margin: 10px auto;
}

/* NAVBAR */
.nav-container {
  width: 1100px;
  padding: 0 40px;
}
.navbar .logo {
  font-size: 1.5rem;
  font-weight: 300;
  color: var(--secondary);
}
.navbar .logo span {
  color: var(--primary);
  font-weight: 600;
}
.nav-item a {
  color: var(--primary) !important;
}
.nav-item a:hover {
  transform: scale(0.98);
  opacity: 0.8;
}

/* SHOWCASE */
.showcase {
  height: 450px;
  background-color: var(--yellow);
  position: relative;
}
.showcase-container {
  display: grid;
  grid-template-columns: 60% 40%;
  gap: 30px;
  padding: 20px;
  justify-content: center;
  align-items: center;
  height: 100%;
  overflow: visible;
}
.showcase-form {
  margin: 0 auto;
  top: 100px;
  z-index: 100;
  background-color: var(--secondary);
  border-radius: 10px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
  padding: 10px;
  width: 100%;
}
.showcase-form h3 {
  padding-left: 10px;
}
.showcase::before,
.showcase::after {
  content: "";
  position: absolute;
  height: 100px;
  bottom: -70px;
  right: 0;
  left: 0;
  background: var(--secondary);
  transform: skewY(-3deg);
  -webkit-transform: skewY(-3deg);
  -moz-transform: skewY(-3deg);
  -ms-transform: skewY(-3deg);
}
.showcase-form .form-group {
  margin: 10px;
}
.showcase-form .form-group input:focus {
  border: 1px solid #d6d4d4;
  box-shadow: none;
}
.showcase-form .form-group input::placeholder {
  font-size: 14px;
}

/* STATS */
.stats-container {
  margin: 90px auto;
  text-align: center;
}
.stats-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 20px;
}
.stats-icon p {
  font-size: 1.2rem;
  font-weight: 600;
}
.arrow-down img {
  width: 50px;
  padding: 10px;
}
.arrow-down {
  animation: bounce 3s infinite;
}

/* PROJECT */
.projects {
  clip-path: polygon(100% 1%, 100% 100%, 0 100%, 0 5%);
  background-color: var(--yellow);
  margin-top: 3rem;
}
.projects .card {
  box-shadow: 2px 5px 5px 2px rgba(0, 0, 0, 0.5);
}
.projects .card:hover {
  animation: shakeX;
  animation-duration: 2s;
}

/* TESTIMONIAL */
.testimonial-section h2,
h5 {
  color: var(--white-color);
}
.testimonial-section .carousel-item {
  margin-top: 6.5rem;
  padding: 10rem 3rem;
  background-color: var(--black-color);
  border-radius: 0.9375rem;
  text-align: center;
}
.testimonial-section .carousel-caption img {
  max-width: 10rem;
  border-radius: 50%;
}
.testimonial-section .carousel-caption p {
  font-size: 1.125rem;
  line-height: 1.5625rem;
  font-weight: 300;
  color: var(--white-color);
  padding: 0 11% 0.625rem;
}
.testimonial-section .carousel-indicators {
  bottom: -2.8125rem;
}
.testimonial-section .carousel-indicators button {
  width: 15px;
  height: 15px;
  outline: none;
  border-radius: 50%;
  border: none;
  margin-right: 1rem;
  opacity: 0.2;
}
.testimonial-section .carousel-indicators button.active {
  opacity: 1;
}

/* FOOTER */
.footer hr {
  height: 4px;
  color: var(--secondary);
}
.footer .social-icons a i:hover {
  animation: flash;
  animation-duration: 1s;
}
.footer input {
  width: 100%;
  max-width: 300px;
  border: none;
  border-radius: 2px;
  cursor: pointer;
}
.footer input::placeholder {
  font-size: small;
}
.footer input:focus {
  outline: none;
}
.footer .btn {
  padding: 4px 8px;
}

/* ABOUT */
.about-img img {
  max-height: 600px;
}

/* BLOG */
.blog-img img {
  max-height: 600px;
}
.blog-container .btn:hover {
  animation: bounce;
  animation-duration: 1s;
}
.blog-1-content,
.blog-2-content,
.blog-3-content {
  display: none;
}

/* CONTACT */
.contact-form {
  width: 90%;
  background-color: #f8f8f8;
  border: 2px solid #888888;
  border-radius: 5px;
  box-shadow: 2px 5px 5px 2px rgba(0, 0, 0, 0.5);
}
.form-group input,
input[type="file"] textarea {
  margin: 20px auto;
  cursor: pointer;
}
.contact-container .contact-form input:focus,
.contact-form textarea:focus {
  border: 1px solid #d6d4d4;
  box-shadow: none;
}
.contact-form button {
  box-shadow: 2px 3px 3px 2px rgba(0, 0, 0, 0.5);
}
.contact-form button:hover {
  animation: heartBeat;
  animation-duration: 2s;
}

/* KEYFRAME */
@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  30% {
    transform: translateY(-20px);
  }
  60% {
    transform: translateY(-10px);
  }
}

/* MEDIA QUERY */
@media screen and (max-width: 760px) {
  .showcase-container {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    width: 90%;
  }
  .showcase {
    height: auto;
  }
  .showcase-form {
    top: 0;
  }
  .showcase::before,
  .showcase::after {
    bottom: -20px;
  }
  .stats-container {
    width: 90%;
    margin: 30px auto;
  }
  .projects .card {
    width: 80%;
    display: block;
    margin: 0 auto;
  }
  .about-container .card {
    width: 80%;
    display: block;
    margin: 0 auto;
  }
}
@media screen and (max-width: 550px) {
  .stats-grid .fas {
    font-size: 30px;
  }
  .stats-grid h4,
  .stats-grid p {
    font-size: 19px;
  }
  .about-img img {
    height: 400px;
  }
  .blog-img img {
    height: 400px;
  }
  .footer .btn {
    padding: 3px 6px;
  }
}
